<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('NewBee商城-商品详情','detail')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>

<div id="detail">
  <!-- nav -->
  <nav th:replace="mall/header::nav-fragment"></nav>

  <div class="dc">
    <div class="content w">
      <div class="title fl">Good Details</div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="intro mt20 w clearfix">
    <div class="left fl" style="position: relative;">
      <div class="swiper-container fl">
        <img th:src="@{${goodsDetail.goodsCoverImg}}">
      </div>
    </div>
    <div class="right fr">
      <div class="h3 ml20 mt20" th:text="${goodsDetail.goodsName}">NewBeeMall</div>
      <div class="sub_title mr40 ml20 mt10" th:text="${goodsDetail.goodsIntro}">NewBeeMall</div>
      <div class="item_price mr40 ml20 mt10">
        <th:block th:text="${goodsDetail.sellingPrice}+'.00$'"></th:block>
        <del>
          <th:block th:text="${goodsDetail.originalPrice}+'.00$'"></th:block>
        </del>
      </div>

      <div class="order">
        <input class="car" type="button" th:onclick="'saveAndGoCart('+${goodsDetail.goodsId}+')'" value="Shopping Now"/>
        <input class="car" type="button" th:onclick="'saveToCart('+${goodsDetail.goodsId}+')'" value="Add to Shopping Cart"/>
      </div>
      <div class="tb-extra ml20" id="J_tbExtra">
        <dl>
          <dt>Promise</dt>
          <dd><a class="J_Cont" title="Under the premise of meeting the 7 days no reason to return and exchange application, the buyer is required to bear the return postage for packaged items, and the buyer is required to bear the shipping and return postage for non-packaged items." href="#"
                 target="_blank"><img th:src="@{/mall/image/7d.jpg}">the 7 days no reason to return</a></dd>
        </dl>
        <dl>
          <dt>Payment</dt>
          <dd><a href="##" target="_blank"><img th:src="@{/mall/image/hua.png}">Ant & Huabei</a><a href="##"
                                                                                               target="_blank"><img
                  th:src="@{/mall/image/card.png}">Credit card payments</a><a href="##" target="_blank"><img
                  th:src="@{/mall/image/ji.png}">Jifenbao</a></dd>
        </dl>
        <dl>
          <dt>adjuvant</dt>
          <dd>Cash in on depreciation and save more money buying new.<a style="float:none;text-decoration: underline;" href="##">Details</a></dd>
        </dl>

      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- The th:utext tag is used here. th:text will not parse html, th:utext will parse html. -->
  <div class="goods mt20 w clearfix" th:utext="${goodsDetail.goodsDetailContent}">
  </div>
  <!-- 回帖 -->
  <div class="container mt-3">
    <!-- 回帖数量 -->
    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4 text-right">
        <a href="#replyform" class="btn btn-primary btn-sm">&nbsp;&nbsp;comment&nbsp;&nbsp;</a>
      </div>
    </div>
    <!-- 回帖列表 -->
    <ul class="list-unstyled mt-4">
      <!-- 第1条回帖 -->
      <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="cvo:${comments}">
        <div class="media-body">
          <div class="mt-0">
            <!--评论帖子的用户名-->
            <span class="font-size-12 text-success" th:utext="${cvo.user.nickName}">good</span>
          </div>
          <!--评论帖子的内容-->
          <div class="mt-2" th:utext="${cvo.comment.content}">
            have you ate bro？
          </div>
          <div class="mt-4 text-muted font-size-12">
            <!--评论帖子的时间-->
            <span>on <b th:text="${#dates.format(cvo.comment.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- 回帖输入 -->
  <div class="container mt-3">
    <form class="replyform" method="post" th:action="@{|/addComment/${goodsDetail.goodsId}|}">
      <p class="mt-3">
        <a name="replyform"></a>
        <textarea placeholder="Stop by and comment here!" name="content"></textarea>
        <input type="hidden" name="entityType" value="1">
        <input type="hidden" name="entityId" th:value="${goodsDetail.goodsId}">
      </p>
      <p class="text-right">
        <button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;comment&nbsp;&nbsp;</button>
      </p>
    </form>
  </div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<script type="text/javascript">
  /**
       * 添加到购物车
       */
      function saveToCart(id) {
          var goodsCount = 1;
          var data = {
              "goodsId": id,
              "goodsCount": goodsCount
          };
          $.ajax({
              type: 'POST',
              url: '/shop-cart',
              contentType: 'application/json',
              data: JSON.stringify(data),
              success: function (result) {
                  if (result.resultCode == 200) {
                      Swal.fire({
                          title: "confirmation box",
                          text: "Add successfully",
                          icon: "success",iconColor:"#1d953f",
                          showCancelButton: true,
                          confirmButtonText: 'yes',
                          cancelButtonText: 'no'
                      }).then((flag) => {
                             if (flag.value) {
                                  window.location.reload();
                              }
                          }
                      );
                  } else {
                      Swal.fire({
                          text: result.message,
                          icon: "error",iconColor:"#f05b72",
                      });
                  }
              },
              error: function () {
                  Swal.fire({
                      text: "failure of an operation",
                      icon: "error",iconColor:"#f05b72",
                  });
              }
          });
      }

      /**
       * 添加到购物车并跳转至购物车页面
       */
      function saveAndGoCart(id) {
          var goodsCount = 1;
          var data = {
              "goodsId": id,
              "goodsCount": goodsCount
          };
          $.ajax({
              type: 'POST',
              url: '/shop-cart',
              contentType: 'application/json',
              data: JSON.stringify(data),
              success: function (result) {
                  if (result.resultCode == 200) {
                      Swal.fire({
                          title: "confirmation box",
                          text: "Items added to cart",
                          icon: "success",iconColor:"#1d953f",
                          showCancelButton: true,
                          confirmButtonText: 'Go to cart to check out',
                          cancelButtonText: 'Stay on current page'
                      }).then((flag) => {
                              if (flag.value) {
                                  window.location.href = '/shop-cart';
                              }
                          }
                      );
                  } else {
                      Swal.fire({
                          text: result.message,
                          icon: "error",iconColor:"#f05b72",
                      });
                  }
              },
              error: function () {
                  Swal.fire({
                      text: "failure of an operation",
                      icon: "error",iconColor:"#f05b72",
                  });
              }
          });
      }
</script>
</body>
</html>
