<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">Manual customer service</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="##">Online Enquiry</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Manual customer service</dt>
                <dd><a rel="nofollow" href="#" target="_blank">Account management</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">Shopping guide</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">Order operation</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Follow us</dt>
                <dd><a rel="nofollow" href="#" target="_blank">Sina Weibo</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">Official WeChat</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">Contact Us</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Offline shop</dt>
                <dd><a rel="nofollow" href="#" target="_blank">NEWBEE TOWN</a>
                </dd>
                <dd><a rel="nofollow" href="#" target="_blank">Service network</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">Authorised Experience Stores</a></dd>
            </dl>
            <dl class="wx">
                <dt>Newbee-mall</dt>
                <dd class="other">
                    <span>Branch:</span>
                    <a href="##">Beijing</a>
                    <a href="##">Shanghai</a>
                    <a href="##">Guangzhou</a>
                    <a href="##">Shenzhen</a>
                    <a href="##">Hangzhou</a>
                </dd>
            </dl>
        </div>
        <div class="footer-links w1100">
            <p>Friendly Link:</p>
            <div class="clearfix">
                <a th:href="@{/index}">New-Bee Mall</a>
                <a th:href="@{/admin}">Back-office management system</a>
            </div>
        </div>
        <div class="footer-info w1100">
        </div>

    </div>
</div>
</html>